.api-page {
  background: linear-gradient(to bottom, #1b1b3a, #00ff9d); /* azul oscuro → verde portal */
  padding: 2rem;
  min-height: 100vh;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.api-page h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #4df2ff; 
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6); 
}

.tarjetas-api {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.tarjeta-api {
  background-color: #5cafa0; 
  border: 2px solid #00ff9d; 
  border-radius: 8px;
  width: 200px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.tarjeta-api:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 255, 157, 0.5); 
}

.tarjeta-api img {
  width: 100%;
  border-radius: 4px;
}

.tarjeta-api h3 {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: #1b1b3a;
  font-family: 'Permanent Marker', cursive;
  font-style: normal;
}

.tarjeta-api p {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  margin-bottom: 0;
}

.botones-paginado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 20px 0;
}

.botones-paginado button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #00ff9d; /* verde portal */
  color: #1b1b3a; /* texto oscuro */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.botones-paginado button:hover {
  background-color: #97eff5; 
}

.botones-paginado button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.numero-pagina {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.3rem;
  color: #1b1b3a;
background: none;
padding: 0;
}
