.skills {
  position: relative;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 19px 38px #000, 0 15px 12px #000;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  width: 90%;
  color: #222;
  font-family: Arial, sans-serif;
}

.skill-bar .bar {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
}

.skill-bar .bar .info span {
  font-size: 1rem;
  font-weight: 900;
  color: #222;
}

.skill-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
  overflow: visible;
}

.skill-bar .bar .progress-line span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; /* Necesario para usar scaleX */
  background: #ffbb00;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  z-index: 1;
  animation: growBar 1s ease-in-out forwards;
  animation-delay: 1s;
}

/* Animación genérica */
@keyframes growBar {
  to {
    transform: scaleX(1); /* Este valor se sobrescribe por las clases scale-XX */
  }
}

/* Mostrar el porcentaje encima */
.skill-bar .bar .progress-line span::after {
  content: attr(data-skill);
  position: absolute;
  top: -30px;
  right: 0;
  background: #504f4c;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  animation: showLabel 0.5s ease forwards;
  animation-delay: 1.5s;
}

/* Triángulo debajo del porcentaje */
.skill-bar .bar .progress-line span::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 8px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top: none;
  border-bottom-color: #504f4c;
  z-index: 5;
  opacity: 0;
  animation: showLabel 0.5s ease forwards;
  animation-delay: 1.5s;
}

/* Animación para mostrar los labels */
@keyframes showLabel {
  to {
    opacity: 1;
  }
}




